version: '2'

services:

  gateway:
    build:
      context: ./gateway/
      dockerfile: Dockerfile
    container_name: gateway
    hostname: gateway
    ports:
      - "20005:20005"
    env_file: ./serv3/.env

  serv3:
    build:
      context: ./serv3/
      dockerfile: Dockerfile
    container_name: serv3
    hostname: serv3
    ports:
      - "20003:20003"
    env_file: ./serv3/.env

  serv21:
    build:
      context: ./serv2/
      dockerfile: Dockerfile
    container_name: serv21
    hostname: serv21
    ports:
      - "20011:20002"
    env_file: ./serv2/.env

  serv22:
    build:
      context: ./serv2/
      dockerfile: Dockerfile
    container_name: serv22
    hostname: serv22
    ports:
      - "20012:20002"
    env_file: ./serv2/.env

  serv23:
    build:
      context: ./serv2/
      dockerfile: Dockerfile
    container_name: serv23
    hostname: serv23
    ports:
      - "20013:20002"
    env_file: ./serv2/.env

  serv4:
    build:
      context: ./serv4/
      dockerfile: Dockerfile
    container_name: serv4
    hostname: serv4
    ports:
      - "20004:20004"
    env_file: ./serv4/.env

  serv1:
    build:
      context: ./serv1/
      dockerfile: Dockerfile
    container_name: serv1
    hostname: serv1
    ports:
      - "20001:20001"
    env_file: ./serv1/.env
